<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Courtney King</title>

    <!-- Bootstrap core CSS -->
    <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <!-- <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <!-- <link href="css/resume.css" rel="stylesheet"> -->

  </head>

  <body id="page-top">


    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none"></span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
            </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">
      <section class="resume-section p-3 p-lg-5 d-column" id="home">
        <div class = "home">
        <h2 class = "center">Courtney King</h2>
        <p class = "center">Photographer and Web Developer</p>
        <div id = "photos">
          <img class = "photo" src = "assets/img/photos/hands.jpg">
          <img class = "photo" src = "assets/img/photos/lotus.jpg">
          <img class = "photo" src = "assets/img/photos/music.jpg">
          <img class = "photo" src = "assets/img/photos/varanasi_orange.jpg">
          <img class = "photo" src = "assets/img/photos/bird_2.jpg">
        </div>
        <div class="center social-icons">
            <a href="https://linkedin.com/in/courtney-king-170724119/">
              <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/courtkneeking">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.shutterstock.com/g/Courtney+Kinger?rid=3905711&utm_medium=email&utm_source=ctrbreferral-link">
              <i class="fab fa fa-camera-retro"></i>
            </a>
          </div>
        </div>
      </section>
      <hr class="m-0">
      <section class="bord resume-section p-3 p-lg-5 d-flex flex-column" id="about">
        <div class = "home">
          <h2 class = "center">About</h2>
          <div class = "paragraph">
            Good day!<br>
            For photography, scroll down or find me on <a href = "https://www.shutterstock.com/g/Courtney+Kinger?rid=3905711&utm_medium=email&utm_source=ctrbreferral-link">Shutterstock.</a><br>
            To see what I'm currently working on, scroll to projects.<br>
            Feel free to <a href ="#contact">contact me</a> for inquiries or collaboration. 
          </div> 
        </div>
      </section>
      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="portfolio">
        <div class = "portfolio">
          <h3 class = "center">Photos</h3>
          <div id = "photos">
              <img class = "photo" src = "assets/img/photos/eagle.jpg">
              <img class = "photo" src = "assets/img/photos/buddha.jpg">
              <img class = "photo" src = "assets/img/photos/houses.jpg">
              <img class = "photo" src = "assets/img/photos/mountains.jpg">
              <img class = "photo" src = "assets/img/photos/bees.jpg">
              <img class = "photo" src = "assets/img/photos/leh.jpg">
              <img class = "photo" src = "assets/img/photos/cows.jpg">
              <img class = "photo" src = "assets/img/photos/burn.jpg">
              <img class = "photo" src = "assets/img/photos/tulips.jpg">
              <img class = "photo" src = "assets/img/photos/park.jpg">
              <img class = "photo" src = "assets/img/photos/bridge.jpg">
            </div>
          <h3 class = "center">Timelapses</h3>
          <div id = "photos">
            <iframe class = "photo" src="https://www.youtube.com/embed/jR8mEe1EXBc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class = "photo" src="https://www.youtube.com/embed/AWpv9ysY2wg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class = "photo" src="https://www.youtube.com/embed/1AIjsonaBGg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe class = "photo" src="https://www.youtube.com/embed/bYk5yqgNfr8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </section>
      <hr class="m-0">
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class = "home">
          <div class = "left">
            <h2 >Projects</h2><br>
            <h5><a href = "https://www.letrandom.com">letrandom.com</a></h5>
            <p>Built in Angular and using Google Maps and Places API, letrandom gives you a random place based on your current location and desired inputs.</p>
            <h5><a href = "streetshure.com">streetshure.com</a> <i> in progress</i></h5>
            <p>A website to help making parking in metropolitan cities easier by creating a map and filtering available spots by their rules at the given time.</p><br>
            <h5><a href = "connectafterlife.com">connectafterlife.com</a> <i> in progress</i></h5>
            <p>A social network to connect relatives and friends after the passing of a loved one. A place to create a memorial page, post service information, create an obituary and more.</p><br>
          </div> 
          <div class = "right">
          <h2>Skills</h2><br>
             <ul>
              <li>Node.js</li>
              <li>Express</li>
              <li>Angular</li> 
              <li>Mongo</li> 
              <li>Python</li>
              <li>Django</li>
              <li>Ruby on Rails</li>
              <li>Postgres</li>
              <li>mySQL</li>
              <li>Bootstrap</li>
              <li>AWS</li>
            </ul>
          </div> 

        </div>
      </section>

      <hr class="m-0">
      <section class="bord resume-section p-3 p-lg-5 d-flex flex-column" id="contact">
        <div class = "home">
          <h2 class = "center">Contact</h2>
          <div class = "paragraph">
            email: courtneymkk@gmail.com<br>
            phone: 702-956-1552<br>
            Las Vegas, NV<br>
          </div> 
        </div>
      </section>
      <hr class="m-0">
    </div>
  </body>
</html>
<router-outlet></router-outlet>
